<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/comment/' + roomName + '/');  // 客户端与服务器进行连接，并返回WebSocket对象给chatSocket

    chatSocket.onmessage = function(e) {  // 监听服务器发回的消息
        var data = JSON.parse(e.data);  // 将消息中data的值转为JS对象
        var message = data['message'];  // 获取其中message的值
        document.querySelector('#chat-log').value += (message + '\n');  // 将message的值添加到chat-log中并换行
    };

    chatSocket.onclose = function(e) {  // WebSocket的readyState变为CLOSED时调用
        console.error('Chat socket closed unexpectedly');  // 在控制台输出错误信息
    };

    document.querySelector('#chat-message-input').focus();  // 为页面中的chat-message-input设置焦点，即输入框中的光标
    document.querySelector('#chat-message-input').onkeyup = function(e) {  // 当按键弹起时触发函数
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();  // 点击页面中的'chat-message-submit'
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');  // 找到输入框对象
        var message = messageInputDom.value;  // 获取输入框中的值
        chatSocket.send(JSON.stringify({  // 调用WebSocket对象的send方法给服务端发消息
            'message': message,            // JSON.stringify将JS对象转为字符串
        }));

        messageInputDom.value = ''; // 清空输入框
    };
</script>
</html>
