<!-- static/templates/notificationMsg.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Notification</title>
</head>
<body>
    <textarea id="notificationMsg-log" cols="100" rows="20"></textarea><br/>
</body>
<script>
    var userID = {{ userID }};

    var notificationMsgSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/notifications/' + userID + '/');  // 客户端与服务器进行连接，并返回WebSocket对象命名为notificationMsgSocket

    notificationMsgSocket.onmessage = function(e) {  // 监听服务器发回的消息
        var data = JSON.parse(e.data);  // 将消息中data的值转为JS对象
        var message = data['plain_text'];  // 获取其中message的值
        alert(message)
        document.querySelector('#notificationMsg-log').value += (message + '\n');  // 将message的值添加到notificationMsg-log中并换行
    };

    notificationMsgSocket.onclose = function(e) {  // WebSocket的readyState变为CLOSED时调用
        console.error('Notification socket closed unexpectedly');  // 在控制台输出错误信息
    };
</script>
</html>
